#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  padding: 1.2rem;
  text-align: left;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-left: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(202, 30, 0);
  border-bottom: solid rgb(202, 30, 0);
  border-width: 2px;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

h1{
  font-family: 'Varela Round', sans-serif;
  margin-left: 1.5rem;
}

#header_home_link{
  text-decoration: none;
  color: rgb(202, 30, 0);
}

.nav_elements{
  display: flexbox;
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  margin-left: 40px;
}

.nav_elements:hover{
  color: black;
  font-weight: 700;
  text-decoration: underline rgb(202, 30, 0) 0.2em;
}

#sign_in_btn{
  background-color: rgb(202, 30, 0);
  color: white;
  border-width: 0.5px;
  border-radius: 6px;
  padding: 6px 8px;
  margin-left: 3rem;
}

.article_card{
  margin: 10px;
  border-bottom: solid black;
  border-width: 1px;
  padding: 10px;
}

.article_card:first-child{
  margin: 10px;
  border-top: solid black;
  border-width: 1px;
  padding: 10px;
}

.votes{
  text-align: right;
}

.date{
  font-family: monospace;
}

.article_link{
  text-decoration: none;
  color: black;
}

.article_link:hover{
  font-weight: bolder;
}

.article_link h3:hover{
  text-decoration: underline;
  color: black;
}

.article_topic{
  color: rgb(202, 30, 0);
  letter-spacing: 0.15em;
  font-size: 0.85em;
}

.pagination_button_wrap{
  display: flex;
  justify-content: space-evenly;
}

.pagination_button{
  background-color: rgb(202, 30, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-top: 20px;
}

.pagination_button:hover{
  background-color: rgb(100, 17, 3);
}

/* single article */

#single_article_wrap {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

#single_article_wrap .date{
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#single_article_wrap .article_topic{
  margin-left: 1rem;
}

#single_article_wrap h2{
  text-align: center;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#author_header{
  text-align: center;
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: 300;
}

#article_img_wrapper{
  border-top: solid black;
  border-bottom: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_img{
  width: 65%;
  height: auto;
  justify-content: center;
}

#article_body_wrap{
  width: 65%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  max-width: 75rem;
  text-align: justify;
  padding: 0 1rem;
}

#article_body::first-letter{
  font-size: 60px;
}

#article_body{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.05rem;
  line-height: 110%;
}

.article_body_border{
  border-bottom: solid black;
}

#votes_and_comments_count{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.comment_count{
  letter-spacing:0.7px;
}

.comment_count span{
  background-color: rgb(245, 226, 226);
  padding: 0 8px 0 8px;
  border-radius: 8px;
  font-weight: 700;
}

/* article comments*/

.comments_section_wrap{
  border-left: solid black;
  border-right: solid black;
  width: 65%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.comments_section_wrap h3{
  margin-left: 1rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.comment_card:first-child{
  border-top: solid black;
}
.comment_card{           
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: solid black;
}

.comment_card:last-child{
  border: none;
  padding-bottom: 1rem;
}

.bottom_border{
  border-bottom: solid rgb(202, 30, 0);
  border-width: 2px;
  margin-bottom: 5rem;
}

#comments_header_wrap{
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

#comment_user{
  font-weight: 700;
}

#comment_body{
  text-align: justify;
  margin-left: 6rem;
  margin-right: 6rem;
}

.comment_card .votes{
  margin-top: 2rem;
  margin-right: 6rem;
  margin-left: 6rem;
  text-align: left;
}

.comment_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid black;
  margin-bottom: 1rem;
  padding: 10px;
}

.comment_form button{
  width: 75px;
  background-color: rgb(202, 30, 0);
  color: white;
  border-width: 0.5px;
  border-radius: 6px;
  padding: 6px 8px;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

textarea{
    justify-content: center;
    width: auto;
    height: 8rem;
    padding: 1rem;
    resize: none;
    border-radius: 10px;
}

textarea::-webkit-input-placeholder{
  font-family: Arial, Helvetica, sans-serif;
}

#comments_section_border{
  border-top: solid black;
  padding: 0;
  margin-top: 3rem;
}

.comment_form label{
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.delete_wrap{
  display: flex;
  justify-content: right;
  margin-right: 5rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-top: 1rem;
  border-top: solid rgba(0, 0, 0, 0.34);
}
.delete_btn{
  width: 65px;
  background-color: rgb(202, 30, 0);
  color: white;
  border-width: 0.5px;
  border-radius: 6px;
  padding: 6px 8px;
  margin-top: 0.5rem;
}

/* votes */

.vote_change{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.vote_change button{
  border-radius: 5px;
  background-color: white;
  color: rgb(202, 30, 0);
  font-size: 25px;
  font-family: 'Varela Round', sans-serif;
  border: none;
  border-width: 0.5px;
}

.vote_change button:hover{
  color: rgb(100, 17, 3);
}

#upVote {
  transform: rotate(180deg);
  margin-top: 4px;
}

#downVote {
  margin-bottom: 4px;
}

#vote_count{
  background-color: rgb(245, 226, 226);
  padding: 0 8px 0 8px;
  border-radius: 8px;
  letter-spacing:0.7px;
}

#vote_count span{
  font-weight: 700;
}

/* topics */

#topic_card_slug{
  color: rgb(202, 30, 0);
  font-size: 2rem;
  margin-bottom: -5px;
}

#topic_description{
  margin-bottom: 3rem;
}
